{% extends 'layout.html' %}
{% block title %}Ubah Password{% endblock %}
{% block content %}
<h3 class="mb-3">Ubah Password: {{ user.name }}</h3>
<form method="post" class="row g-3">
	<div class="col-md-6">
		<label class="form-label">Password Baru</label>
		<input type="password" class="form-control" name="password" minlength="6" required />
	</div>
	<div class="col-12">
		<button class="btn btn-primary">Simpan</button>
		<a class="btn btn-secondary" href="{{ url_for('users_management') }}">Batal</a>
	</div>
</form>
{% endblock %}